Вы можете использовать цикл for для перебора элементов списка workers и форматированную строку
для вывода информации о каждом сотруднике:

In [ ]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

for worker in workers:
    name, surname, salary, experience = worker
    if experience < 2:
        position = 'junior'
    elif experience >= 2 and experience <= 5:
        position = 'middle'
    else:
        position = 'senior'
    print(f"{name} {surname} is {position}")

В этом примере мы используем цикл for для перебора каждого элемента worker в списке workers.
Затем мы извлекаем имя, фамилию, зарплату и стаж из каждого элемента с помощью множественного присваивания.
Далее мы используем условный оператор if для определения должности (position) на основе стажа (experience).
Наконец, мы выводим строку, используя форматирование строк,
которое подставляет значения name, surname и position в нужные места в строке.

In [3]:
users = [0, 2]

In [6]:
users.extend([25, 'test'])

In [7]:
users

[0, 2, 25, 'test']

In [8]:
users.append([3.4, 'test2'])

In [9]:
users

[0, 2, 25, 'test', [3.4, 'test2']]

In [10]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [12]:
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

In [35]:
worker = ['Olya', 'Silyutina', 350000, 6]

In [18]:
status = '{} {} is {}'

In [36]:
if worker[3] > 5:
    position = 'Senior'
elif worker[3] >= 2:
    position = 'Middle'
else:
    position = 'Junior'

In [39]:
status = status.format(worker[0],  worker[1], position)

In [40]:
status

'Olya Silyutina is Senior'

In [51]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [57]:
tens = []
for i in values:
    if i % 10 == 0:
        tens.append(i)
tens

[10, 100, 20, 50, 160, 210]

In [47]:
35%10

5

In [58]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [59]:
for i in workers:
    print(i)

['Ivan', 'Ivanov', 100000, 2]
['Petr', 'Petrov', 150000, 2]
['Sidor', 'Sidorov', 200000, 3]

In [73]:
status = '{} {} is {}'
for i in workers:
    if i[3] > 5:
        position = 'senior'
    elif i[3] >= 2:
        position = 'middle'
    else:
        position = 'junior'
    print(status.format(i[0], i[1], position))

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle

In [80]:
lst = []
n = 0
N = 10
dn = 2
while N >= n:
    lst.append(n)
    n += dn
lst

[0, 2, 4, 6, 8, 10]

In [82]:
salaries_dict = {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'}

In [83]:
salaries_dict

{'name': 'Masha',
 'surname': 'Volkova',
 'age': 25,
 'salary': 60000,
 'position': 'junior'}

In [ ]:
login	name	surname	age	salary	position
mvolkova	Masha	Volkova	25	60000	junior
pvoronov	Peter	Voronov	27	100000	junior
pparker	Peter	Parker	35	150000	middle
akarpov	Anatoly	Karpov	30	250000	senior

In [84]:
logins = ['mvolkova', 'pvoronov', 'pparker', 'akarpov']
names = ['Masha', 'Peter', 'Peter', 'Anatoly']
surnames = ['Volkova', 'Voronov', 'Parker', 'Karpov']
ages = [25, 27, 35, 30]
salaries = [60000, 100000, 150000, 250000]
positions = ['junior', 'junior', 'middle', 'senior']

users = {}
for i in range(len(logins)):
    users[logins[i]] = {
        'name': names[i],
        'surname': surnames[i],
        'age': ages[i],
        'salary': salaries[i],
        'position': positions[i]
    }

In [85]:
users

{'mvolkova': {'name': 'Masha',
  'surname': 'Volkova',
  'age': 25,
  'salary': 60000,
  'position': 'junior'},
 'pvoronov': {'name': 'Peter',
  'surname': 'Voronov',
  'age': 27,
  'salary': 100000,
  'position': 'junior'},
 'pparker': {'name': 'Peter',
  'surname': 'Parker',
  'age': 35,
  'salary': 150000,
  'position': 'middle'},
 'akarpov': {'name': 'Anatoly',
  'surname': 'Karpov',
  'age': 30,
  'salary': 250000,
  'position': 'senior'}}